opencv-python-headless
ultralytics
deep-sort-realtime
matplotlib
numpy
pillow
pandas
scikit-learn
scipy
python-dotenv
google-generativeai
torch
torchvision
torchaudio
mediapipe==0.10.14
protobuf
groq
fastapi
uvicorn
python-multipart
reportlab
